/* Google font import */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /*General project styles */
    color: antiquewhite;
    font-family: 'Rubik', sans-serif;

}
/*  Header */

header { color:beige; background-color: black; 
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    box-shadow: 0 3px 2px 	#faebd7;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
header a {
    text-decoration: none;
    color: inherit;
}

/* Main */

main { background-color: red;
flex: 1 0 auto}
/* Footer */

footer {background-color: rgb(95, 91, 99);
}


span {display:inline-block;}

img {
    max-width: 100%;
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    text-transform: uppercase;
    letter-spacing: 2px;
    color:burlywood
    
}
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu li {
    margin-bottom: 1em;
}
.active {
    color:chocolate
}
/* navbar styles with dropdown */

nav {
    position:absolute;
    background-color: black;
    min-width: 100%;
    padding: 0 1rem;
    box-shadow: 0 3px 2px 	#faebd7;
    left: 0;
    display: none;
    top:100%;

}
/*Nav toggle */
#nav-toggle:checked~nav {
    display:block;
}
#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 2rem;
}