* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /*General project styles */
    color: antiquewhite;

}
/*  Header */

header { color:beige; background-color: black; 
}
/* Main */

main { background-color: red;
flex: 1 0 auto}
/* Footer */

footer {background-color: blueviolet;
}

span {display:inline-block;}