/* Google font import */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /*General project styles */
    color: antiquewhite;
    font-family: 'Rubik', sans-serif;

}
/*  Header */

header { color:beige; background-color: black; 
}

/* Main */

main { background-color: red;
flex: 1 0 auto}
/* Footer */

footer {background-color: rgb(95, 91, 99);
}


span {display:inline-block;}



